---
layout: page
title: Registration
---
<article>

  <p> GPA is an invitation-only event, and it is not possible to transfer this invitation to others. If you haven't been contacted yet, but you'd like to attend, please e-mail us.</p>

  <p></p>

  <p> The registration fee is {{ site.registration.fees.academy }}€ for attendees coming from academy and {{ site.registration.fees.industry }}€ for those coming from industry. Registration includes {{ site.resgistration.fees.included }}. <b> Registration dealine is {{ site.registration.deadline }}. </b>
    Space is highly constrained and we cannot guarantee your slot after that date. </p>

  <p> Please use the following link to register: <a href="{{ site.registration.form }}" target="_blank"> <b> Registration </b> </a></p>

  <p></p>

  <p> Also, the H10 Costa Adeje Palace hotel offers DALI attendees special prices for single, double or family rooms.
    Booking must be done through the following link: <a href="http://gecoweb.gesintur.com/pub/1600006/q2/cgi.hrb?idexp=VJ7FP&main=alojamientos
      "> <b> Hotel Booking </b> </a></p>



</article>
