---
layout: page
title: Registration
---
<article>

  <p> Due to restrictions on numbers, GPA is an invitation-only event, and it is not possible to transfer this invitation to others. If you haven't been contacted yet, but you'd like to attend, please e-mail us.</p>

  <p> Please use <a href="{{ site.registration.form }}" target="_blank">this link</a> to register.
{% if site.registration.deadline %}
<p>Registration will close on {{ site.registration.deadline | date: "%d %B, %Y" }}.
</p>
{% endif %}

</article>
